<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.OpenImage">
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GridViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ListViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.FriendsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MessageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
        </activity>
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ImagesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ViewPagerDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ScaleTypeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ConnerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.CustomActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.KuaiShouDemoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.WebViewActivity1"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.WebViewActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UserDetailListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MemoryTestActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.MemoryTestRecyclerViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".openImpl.MyBigImageActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/Theme.OpenImageTheme">
            <meta-data
                android:name="notch.config"
                android:value="portrait|landscape" />
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
            <meta-data
                android:name="android.max_aspect"
                android:value="2.2" />
        </activity>
        <activity
            android:name=".openImpl.MyBigImageActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:theme="@style/Theme.OpenImageTheme">
            <meta-data
                android:name="notch.config"
                android:value="portrait|landscape" />
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
            <meta-data
                android:name="android.max_aspect"
                android:value="2.2" />
        </activity>
        <activity
            android:name=".openImpl.KuaiShouActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/Theme.OpenImageTheme">
            <meta-data
                android:name="notch.config"
                android:value="portrait|landscape" />
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
            <meta-data
                android:name="android.max_aspect"
                android:value="2.2" />
        </activity>
        <activity
            android:name=".openImpl.MessageVpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/Theme.OpenImageTheme">
            <meta-data
                android:name="notch.config"
                android:value="portrait|landscape" />
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
            <meta-data
                android:name="android.max_aspect"
                android:value="2.2" />
        </activity>
        <activity
            android:name=".openImpl.UserDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:theme="@style/Theme.UserDetailTheme">
            <meta-data
                android:name="notch.config"
                android:value="portrait|landscape" />
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
            <meta-data
                android:name="android.max_aspect"
                android:value="2.2" />
        </activity>
        <activity
            android:name=".activity.PhotoViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.ComposeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>