<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flyjingfish.openimagefulllib">

    <application>
        <provider
            android:name=".FullInitProvider"
            android:authorities="${applicationId}.VideoInitProvider"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>