<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flyjingfish.openimagecoillib">
    <application>
        <provider
            android:name=".OpenImageCoilInitProvider"
            android:authorities="${applicationId}.OpenImageCoilInitProvider"
            android:exported="false"
            android:initOrder="100"
            android:multiprocess="true" />
    </application>
</manifest>